<h1>COME UTILIZZARE I SERVIZI</h1>
<ul>
	<li>
		<h2>RICERCA ASSERZIONI</h2>
		<p>bisogna accedere alla route /senses facendo una richiesta post e avere nel body il parametro word che indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevuti i diversi significati della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA DESCRIZIONI</h2>
		<p>bisogna accedere alla route /descriptions facendo una richiesta post e avere nel body il parametro word che
			indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevute le diverse descrizioni della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA IMMAGINI</h2>
		<p>bisogna accedere alla route /imgs facendo una richiesta post e avere nel body il parametro word che indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevute le diverse immagini della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA EMOTICONS</h2>
		<p>bisogna accedere alla route /emoticons facendo una richiesta post e avere nel body il parametro word che
			indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevute le diverse emoticons della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA SINONIMI</h2>
		<p>bisogna accedere alla route /synonyms facendo una richiesta post e avere nel body il parametro word che
			indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevute i diversi sinonimi della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA RELAZIONI</h2>
		<p>bisogna accedere alla route /relations facendo una richiesta post e avere nel body il parametro word che
			indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevute le diverse relazioni della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA TRADUZIONI</h2>
		<p>bisogna accedere alla route /trads facendo una richiesta post e avere nel body il parametro word che indica
			la
			parola ricercata
			,il parametro lang che indica la lingua della parola e il parametro langs con la lista delle lingue in cui
			tradurre
			separate dalla virgola
		</p>
		<p>saranno ricevute le diverse immagini della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA IMMAGINI</h2>
		<p>bisogna accedere alla route /imgs facendo una richiesta post e avere nel body il parametro word che indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevute le diverse immagini della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA IPERONIMI</h2>
		<p>bisogna accedere alla route /hypernyms facendo una richiesta post e avere nel body il parametro word che
			indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevuti gli iperonimi della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA IPONIMI</h2>
		<p>bisogna accedere alla route /hyponyms facendo una richiesta post e avere nel body il parametro word che
			indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevuti gli ipoonimi della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA OLONIMI</h2>
		<p>bisogna accedere alla route /holonyms facendo una richiesta post e avere nel body il parametro word che
			indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevuti gli olonimi della parola word nella lingua lang</p>
	</li>
	<li>
		<h2>RICERCA MERONIMI</h2>
		<p>bisogna accedere alla route /meronyms facendo una richiesta post e avere nel body il parametro word che
			indica
			la
			parola ricercata
			e il parametro lang che indica la lingua della parola
		</p>
		<p>saranno ricevuti i meronimi della parola word nella lingua lang</p>
	</li>
</ul>